@model ElectricTravel.Web.InputViewModels.ElectricCars.ElectricCarsInputViewModel
@{
    ViewData["Title"] = "Create Car Advert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="col-md-6 offset-md-3">
    <h1>@ViewData["Title"]</h1> 

</form>

