@model ElectricTravel.Web.InputViewModels.ElectricCars.ElectricCarEditInputViewModel

@{
    this.ViewData["Title"] = "Edit car";
    var carTypes = this.Model.CarTypes.Select(x => new SelectListItem(x.Value, x.Key));
}

<br />
<div class="container">
    <div class="card text-center text-light custom-bg">
        <div class="card-header text-center">
            <h2>@this.ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="CarTypeId"></label>
                                    </div>
                                    <div class="col text-white-50">
                                        <select asp-for="CarTypeId" class="form-control" asp-items="carTypes">
                                            <option>Select</option>
                                        </select>
                                        <span asp-validation-for="CarTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="CarMakeId"></label>
                                    </div>
                                    <div class="col">
                                        <select asp-for="CarMakeId" class="form-control" asp-items="@ViewBag.Makes" id="makeslist">
                                            <option>Select</option>
                                        </select>
                                        <span asp-validation-for="CarMakeId" class="text-danger"></span>
                                    </div>
                                    <div class="col">
                                        <label asp-for="CarModelId"></label>
                                    </div>
                                    <div class="col">
                                        <select asp-for="CarModelId" class="form-control" id="modelslist"></select>
                                        <span asp-validation-for="CarModelId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Drive"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Drive" class="form-control" />
                                        <span asp-validation-for="Drive" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Battery"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Battery" class="form-control" />
                                        <span asp-validation-for="Battery" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="ElectricityConsumption"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="ElectricityConsumption" class="form-control" />
                                        <span asp-validation-for="ElectricityConsumption" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Range"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Range" class="form-control" />
                                        <span asp-validation-for="Range" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="HorsePower"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="HorsePower" class="form-control" />
                                        <span asp-validation-for="HorsePower" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="TopSpeed"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="TopSpeed" class="form-control" />
                                        <span asp-validation-for="TopSpeed" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Acceleration"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Acceleration" class="form-control" />
                                        <span asp-validation-for="Acceleration" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Doors"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Doors" class="form-control" />
                                        <span asp-validation-for="Doors" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Seats"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Seats" class="form-control" />
                                        <span asp-validation-for="Seats" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="LuggageCapacity"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="LuggageCapacity" class="form-control" />
                                        <span asp-validation-for="LuggageCapacity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Year"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Year" class="form-control" />
                                        <span asp-validation-for="Year" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Kilometres"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Kilometres" class="form-control" />
                                        <span asp-validation-for="Kilometres" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label asp-for="Color"></label>
                                    </div>
                                    <div class="col">
                                        <input asp-for="Color" class="form-control" />
                                        <span asp-validation-for="Color" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <label asp-for="Description"></label>
                                    </div>
                                    <div class="col-8">
                                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img class="" src="~/img/race-car-svgrepo-com.svg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputFile">Pictures input</label>
                                    <input asp-for="Images" class="form-control-file" id="exampleInputFile" />
                                    <span asp-validation-for="Images" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
                <br />
                <div class="row">
                    <div class="col">
                        <button class="btn btn-info" type="submit" asp-controller="ElectricCars" asp-action="Edit" asp-route-id="@Model.Id">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />

    <script src="~/js/car.js"></script>
}