@model ElectricTravel.Web.Areas.Identity.Pages.Account.Manage.CarProfileModel
@{
    var carTypes = this.Model.Input.CarTypes.Select(x => new SelectListItem(x.Value, x.Key));
    var carMakes = this.Model.Input.CarMakes.Select(x => new SelectListItem(x.Value, x.Key));
    var carModels = this.Model.Input.CarModels.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post" enctype="multipart/form-data">
    <div class="container form-group text-light" method="post">
        <br />
        <div class="row">
            
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.CarTypeId"></label>
                    <select asp-for="Input.CarTypeId" class="form-control" asp-items="carTypes"></select>
                    <span asp-validation-for="Input.CarTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.CarMakeId"></label>
                    <select asp-for="Input.CarMakeId" class="form-control" asp-items="carMakes"></select>
                    <span asp-validation-for="Input.CarMakeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.CarModelId"></label>
                    <select asp-for="Input.CarModelId" class="form-control" asp-items="carModels"></select>
                    <span asp-validation-for="Input.CarModelId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Range"></label>
                    <input type="number" min="1" value="1" asp-for="Input.Range" class="form-control" />
                    <span asp-validation-for="Input.Range" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Kilometres"></label>
                    <input asp-for="Input.Kilometres" class="form-control" />
                    <span asp-validation-for="Input.Kilometres" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Acceleration"></label>
                    <input asp-for="Input.Acceleration" class="form-control" />
                    <span asp-validation-for="Input.Acceleration" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.TopSpeed"></label>
                    <input asp-for="Input.TopSpeed" class="form-control" />
                    <span asp-validation-for="Input.TopSpeed" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Battery"></label>
                    <input asp-for="Input.Battery" class="form-control" />
                    <span asp-validation-for="Input.Battery" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.ElectricityConsumption"></label>
                    <input asp-for="Input.ElectricityConsumption" class="form-control" />
                    <span asp-validation-for="Input.ElectricityConsumption" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Drive"></label>
                    <input asp-for="Input.Drive" class="form-control" />
                    <span asp-validation-for="Input.Drive" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Year"></label>
                    <input asp-for="Input.Year" class="form-control" />
                    <span asp-validation-for="Input.Year" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.HorsePower"></label>
                    <input asp-for="Input.HorsePower" class="form-control" />
                    <span asp-validation-for="Input.HorsePower" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Seats"></label>
                    <input asp-for="Input.Seats" class="form-control" />
                    <span asp-validation-for="Input.Seats" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Doors"></label>
                    <input asp-for="Input.Doors" class="form-control" />
                    <span asp-validation-for="Input.Doors" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Color"></label>
                    <input asp-for="Input.Color" class="form-control" />
                    <span asp-validation-for="Input.Color" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.LuggageCapacity"></label>
                    <input asp-for="Input.LuggageCapacity" class="form-control" />
                    <span asp-validation-for="Input.LuggageCapacity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Images"></label>
                    <input asp-for="Input.Images" class="form-control-file" />
                    <span asp-validation-for="Input.Images" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Input.Videos"></label>
                    <input asp-for="Input.Videos" class="form-control-file" />
                    <span asp-validation-for="Input.Videos" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="p-3 mb-4">
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="ADD CAR" asp-page="Cars" />
            </div>
        </div>
    </div>
</form>