@model IEnumerable<SharedTravelsViewModel>
@{
    this.ViewData["Title"] = "Your adverts";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container sm custom-bg text-white">
    <hr />
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr />
    <partial name="_SharedTravelPartialView" model="@Model" />
</div>

@section Scripts{
    <script src="~/lib/mdb/js/addons/datatables.min.js"></script>
    <script src="~/js/customTable.js"></script>
    <link href="~/lib/mdb/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
}

