@model AdvertsListViewModel
@{
    this.ViewData["Title"] = "Your adverts";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container sm custom-bg text-white">
    <hr />
    @if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-@this.TempData["Message"]; alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @this.TempData["Message"]
        </div>
    }
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr />
    <partial name="_SharedTravelPartial" model="@Model" />
</div>

@section Scripts{
    <link href="~/lib/mdb/css/addons/datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/mdb/js/addons/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/customtable.js" asp-append-version="true"></script>
}

