@model ThankYouVIewModel
@{
    this.ViewData["Title"] = "ThankYou";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container custom-bg">
    <br />
    <content class="text-center alert-secondary">
        <h1 class="text-success">Thank You!</h1>
        <h2>
            @Model.UserName, your  <a asp-area="" asp-controller="SharedTravels" asp-action="TripDetails" asp-route-id="@Model.AdvertId" class="text-primary">
                advert
            </a> has been created!
        </h2>
    </content>
    <br />
</div>


@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}

