@model string
@{
    this.ViewData["Title"] = "ThankYou";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<content class="text-center alert-secondary">
    <h1 class="text-success">Thank you</h1>
    <h2>for your advert,</h2>
    <h2>@User.Identity.Name!</h2>
</content>

<p>
    <a asp-area="" asp-controller="SharedTravels" asp-action="Detail" asp-route-id="@Model" class="text-primary">
        Link To Advert
    </a>
</p>

