@model ElectricTravel.Web.ViewModels.ViewComponents.CountArticlesAndAdvertsViewModel

<div class="text-white text-center small">
    Travel adverts in our site - @Model.AdvertsCount .
    News count in our site - @Model.NewsCount .
</div>