@model ElectricTravel.Web.InputViewModels.News.ArticleInputViewModel

@{
    this.ViewData["Title"] = "Create";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container text-center text-light custom-bg">
    <br />
    <div>
        <h1>@this.ViewData["Title"]</h1>
    </div>
    <div class="text-left">
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="row text-light">
        <div class="col-10 offset-1">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Path" class="control-label">Source URL <span class="text-danger">(No mandatory field)</span></label>
                    <input asp-for="Path" class="form-control" />
                    <span asp-validation-for="Path" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <textarea asp-for="ShortDescription" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" rows="20"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
</div>

@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}

