@using ElectricTravel.Common
@using ElectricTravel.Data.Models.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ElectricTravelUser> SignInManager
@inject UserManager<ElectricTravelUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Cities" asp-action="Index">Cities</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="SharedTravelAdverts" asp-action="Index">Shared Travel Adverts</a>
                </div>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log In</a>
        </li>
    }
</ul>
