@model ElectricTravel.Web.ViewModels.Home.SharedTravelHomeListingViewModel
@using ElectricTravel.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<br />
<div class="container my-bg">
    <br />
    <div class="text-center text-white">
        <br />
        <h1>Hello To Electric Travel!</h1>
        <br />
        <h2>Here you can find some information for electric shared travel in Bulgaria, </h2>
        <h2>news from electric world and charging stations</h2>
        <h2>for your best electric car experience</h2>
        <br />
    </div>
    <br />
</div>


@section Scripts{
    <link href="~/css/home.css" rel="stylesheet" />
}


