@model ElectricTravel.Web.ViewModels.Home.SharedTravelHomeListingViewModel
@using ElectricTravel.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container my-4">
    @foreach (var advert in Model.SharedTravels)
    {
        <span>@advert.StartDestinationName</span>
        <span>@advert.WithReturnTripAsString</span>
    }

</div>

@section Scripts{
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
}


