@model ElectricTravel.Web.ViewModels.Home.SharedTravelHomeListingViewModel
@using ElectricTravel.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="col-xs-6">
    <img class="img-fluid max-width: 100%" src="~/img/jannes-glas-87royqk4t6o-unsplash.jpg" />
</div>



