@model ElectricTravel.Web.InputViewModels.News.ArticleInputViewModel

@{
    this.ViewData["Title"] = "Create Article";
}

<br />
<div class="container custom-bg">

</div>
<br />


@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}
